


<%# <p id="notice"><%= notice %>

<h1> Export Requests</h1>

<%# <img class="exl-img" src="https://www.pngitem.com/pimgs/m/33-337358_office-365-excel-icon-hd-png-download.png" alt="Italian Trulli">

<br> %>

<div class="container-exl">
<button class="index-link">
<%= link_to "    ",
  users_path(format: :xlsx) , class: "btn"%>
  </button>
</div>

