
<h1> Export Requests</h1>

<div class="container-exl">
<button class="index-link">
<%= link_to "    ",
  users_path(format: :xlsx) , class: "btn"%>
  </button>

<a class= "a">
  <%= link_to "  export  ",
  users_path(format: :xlsx) %>
  </a>

</div>

