<h1>New Request</h1>


<% if @user.errors.any? %>
<h3> We have proplems! </h3>

<h4>
<%= pluralize(@user.errors.count, 'error') %>
stopped us from saving the request :
</h4>

<div>
  <% @user.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
</div>


<% end %>
<%= render partial:'form', locals: { user: @user } %>




