<h1>New Request</h1>


<% if @user.errors.any? %>
<div class="error-box">
<h4> We have proplems! </h4>

<h5>
<%= pluralize(@user.errors.count, 'error') %>
stopped us from saving the request :
</h5>

<div class="error-list">
  <% @user.errors.full_messages.each do |msg| %>
 <ul class="error-list" >
    <li ><%= msg %></li>
   </ul>
  <% end %>
</div>
</div>
<%# <%else%> 

 <%# <div><%= flash[:notice] %> 
 <%# <p class="test">Request CreatedSucsesfully </p> %>
 <%# </div> %>
<% end %>






<%= render partial:'form', locals: { user: @user } %>




