<h1>New Request</h1>

<div class="error-box">
<% if @user.errors.any? %>
<h4> We have proplems! </h4>

<h5>
<%= pluralize(@user.errors.count, 'error') %>
stopped us from saving the request :
</h5>

<div class="error-list">
  <% @user.errors.full_messages.each do |msg| %>
 <ul class="error-list" >
    <li ><%= msg %></li>
   </ul>
  <% end %>
</div>


<% end %>

</div>
<%= render partial:'form', locals: { user: @user } %>




