<!DOCTYPE html>
<html>
<head>

</head>
<body>

<div class="hero-image">
</div>

</body>
</html>


<%# <img src="https://www.wallpaperup.com/uploads/wallpapers/2013/12/07/187067/5895912e85b09c341fd59c9c92066d2f.jpg" alt="help img" > %>